/* Google font */
@import url('https://fonts.google.com/share?query=Courier+');

*{margin: 0; 
  padding: 0;
  -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
  background-color: #121212;
}

#clock {
  font-family: 'Orbitron', sans-serif;
  color: #ffffff;
  display: flex;
  font-size: 10vw;
  height: 100vh;
  justify-content: center;
  text-align: center;
  align-items: center;
  /* paddi  ng-top: 40px;
  padding-bottom: 40px; */
} 