/* Google font */
@import url('https://fonts.google.com/share?query=Courier+');

*{margin: 0; 
  padding: 0;
  -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
  background-color: #121212;
}

#timer {
  font-family: 'Orbitron', sans-serif;
  color: #ffffff;
  display: flex;
  font-size: 10vw;
  height:100vh;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  gap:10%;
} 

button {
  font-family: 'Orbitron', sans-serif;
  background-color: #ffffff;
  min-width: 70vh;
  width: 70vh;
  align-items: center;
  justify-content: center;
  font-size: 6vw;
  padding: 0 20px;
  display: flex;
  color: #121212;
  border-radius: 80px;
  border: 5px solid white;
}
  
#button {
  color: #ffffff;
  display: flex;
  font-size: 400px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
} 

.button:hover, .button:focus   {
  color: #fff;
  background: #121212;
  transition: all .3s linear; 
}
